<% if @posts.any? %>
<ul class="posts">
	<% @posts.each do |post| %>
	<li class="post">
		<% if post.picture? %>
		<%= image_tag post.picture.url(:medium), class: 'uploaded_pic' %><br>
		<% end %>
		<%= post.title %>
	</li>
	<% end %>
</ul>
<% else %>
		No posts have been added	
<% end %>
<%= link_to('New post', new_post_path) %>